@import '@angular/material/prebuilt-themes/purple-green.css';

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body.dark-mode {
        background-color: #303030;
        color: #ffffff;
    }

}